[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
  }
  
  #mangled_code {
    list-style-type: none;
  }

  .in_out {
    height: 40px;
    width: 250px;
    color: black;
    background-color: rgb(114, 230, 214);
    padding: 5px;
    border-bottom: 5px solid rgb(114, 230, 214);
    border-radius: 10px;
    border: 5px solid rgb(148, 203, 255);
    font-family: "Courier New", Courier, monospace;
    text-align: center;
  }
  
  .code {
    width: 1010px;
    padding-bottom: 5px;
    padding-top: 5px;
    /*text-align: center;*/
    cursor: move;
  }
  .code header {
    height: 30px;
    width: 1000px;
    color: black;
    background-color: rgb(255, 113, 113);
    padding: 5px;
    border-bottom: 5px solid rgb(255, 148, 148);
    border-radius: 10px;
    border: 5px solid rgb(255, 148, 148);
    font-family: "Courier New", Courier, monospace;
  }
  /*
  .code.dragElem {
    opacity: 0.4;
  }*/

  .code.over {
    border-top: 2px solid blue;
  }

  li {
    list-style-type: none;
  }